<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mercado Liebre</title>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<header>
			<div class="topbar">
				<div class="logo-search">
					<img
						class="logo"
						src="/images/logo-mercado-liebre.svg"
						alt="Logo Mercado Liebre"
					/>
					<div class="search">
						<form action="/search" method="get">
							<input
								class="search-bar"
								type="text"
								placeholder="Buscar productos, marcas"
							/>
							<button type="submit" class="search-btn">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
				</div>
				<div class="subline">
					<i class="fas fa-hand-holding-usd"></i>
					<span>Comprá en cuotas y sin tarjeta de crédito</span>
				</div>
			</div>
			<nav>
				<ul class="left-nav">
					<li class="navitem"><a href="#">Ofertas</a></li>
					<li class="navitem"><a href="#">Tiendas Oficiales</a></li>
					<li class="navitem"><a href="#">Vender</a></li>
					<li class="navitem"><a href="#">Ayuda</a></li>
				</ul>
				<ul class="right-nav">
					<li class="navitem">
						<a href="/register" class="icon user-card"
							>Creá tu cuenta <i class="far fa-address-card"></i>
						</a>
					</li>
					<li class="navitem">
						<a href="/login" class="icon login"
							>Ingresá <i class="fas fa-sign-in-alt"></i
						></a>
					</li>
					<li class="navitem">
						<a href="#" class="icon orders"
							>Mis Compras <i class="fas fa-shopping-basket"></i
						></a>
					</li>
				</ul>

				<div class="burger-menu">
					<i class="fas fa-bars menu-icon"></i>
				</div>
			</nav>
		</header>
		<main>
			<img
				src="/images/img-home-banner.jpg"
				class="banner"
				alt="Banner de la pagina"
			/>
			<section aria-labelledby="ultima_visita" class="product-section">
				<h3 class="title" id="ultima_visita">Basado en tu última visita</h3>
				<div class="recently-viewed">
					<article class="product">
						<img
							class="product-image"
							src="/images/img-cafetera-moulinex.jpg"
							alt="Imagen de una cafetera"
						/>
						<i class="fa-solid fa-truck truck-icon"></i>
						<div class="product-text">
							<p class="price">$6,770</p>
							<p class="discounts">40% off</p>
						</div>
						<p class="product-name">Cafetera Moulinex</p>
					</article>
					<article class="product">
						<img
							class="product-image"
							src="/images/img-macbook-pro-2019.jpg"
							alt="Imagen de una MacBook Pro"
						/>
						<i class="fa-solid fa-truck truck-icon"></i>
						<div class="product-text">
							<p class="price">$230.000</p>
							<p class="discounts">20% off</p>
						</div>
						<p class="product-name">MacBook Pro 2019</p>
					</article>
					<article class="product">
						<img
							class="product-image"
							src="/images/img-samsung-galaxy-s10.jpg"
							alt="Imagen de un Samsung Galaxy S10"
						/>
						<i class="fa-solid fa-truck truck-icon"></i>
						<div class="product-text">
							<p class="price">$70.500</p>
							<p class="discounts">10% off</p>
						</div>
						<p class="product-name">Samsung Galaxy S10</p>
					</article>
					<article class="product">
						<img
							class="product-image"
							src="/images/img-tv-samsung-smart.jpg"
							alt="Imagen de una Smart TV Samsung"
						/>
						<i class="fa-solid fa-truck truck-icon"></i>
						<div class="product-text">
							<p class="price">$23.200</p>
							<p class="discounts">5% off</p>
						</div>
						<p class="product-name">SmartTv Samsung 43"</p>
					</article>
				</div>
			</section>
			<section aria-labelledby="ofertas" class="product-section">
				<h3 class="title" id="ofertas">Sección de Ofertas</h3>
				<div class="offers">
					<article class="product">
						<img
							class="product-image"
							src="/images/img-cafetera-moulinex.jpg"
							alt="Imagen de una cafetera"
						/>
						<i class="fa-solid fa-truck truck-icon"></i>
						<div class="product-text">
							<p class="price">$6.770</p>
							<p class="discounts">40% off</p>
						</div>
						<p class="product-name">Cafetera Moulinex</p>
					</article>
					<article class="product">
						<img
							class="product-image"
							src="/images/img-macbook-pro-2019.jpg"
							alt="Imagen de una MacBook Pro"
						/>
						<i class="fa-solid fa-truck truck-icon"></i>
						<div class="product-text">
							<p class="price">$230.000</p>
							<p class="discounts">20% off</p>
						</div>
						<p class="product-name">MacBook Pro 2019</p>
					</article>
					<article class="product">
						<img
							class="product-image"
							src="/images/img-samsung-galaxy-s10.jpg"
							alt="Imagen de un Samsung Galaxy S10"
						/>
						<i class="fa-solid fa-truck truck-icon"></i>
						<div class="product-text">
							<p class="price">$70.500</p>
							<p class="discounts">10% off</p>
						</div>
						<p class="product-name">Samsung Galaxy S10</p>
					</article>
					<article class="product">
						<img
							class="product-image"
							src="images/img-tv-samsung-smart.jpg"
							alt="Imagen de una Smart TV Samsung"
						/>
						<i class="fa-solid fa-truck truck-icon"></i>
						<div class="product-text">
							<p class="price">$23.200</p>
							<p class="discounts">5% off</p>
						</div>
						<p class="product-name">SmartTv Samsung 43"</p>
					</article>
				</div>
			</section>
		</main>
		<footer>
			<section class="features">
				<div class="feature">
					<i class="fa-solid fa-credit-card feature-icon"></i>
					<p class="descriptions">Pagá con tarjeta o en efectivo</p>
					<p>
						Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
						efectivo en puntos de pago. ¡Y siempre es seguro!
					</p>
				</div>
				<div class="feature">
					<i class="fa-solid fa-gift feature-icon"></i>
					<p class="descriptions">Envío gratis desde $ 2.500</p>
					<p>
						Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
						miles de productos. Es un beneficio de Mercado Puntos
					</p>
				</div>
				<div class="feature">
					<i class="fa-solid fa-user-shield feature-icon"></i>
					<p class="descriptions">Seguridad, de principio a fin</p>
					<p>
						¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
						puedas hacer, porque estás siempre protegid@.
					</p>
				</div>
			</section>
			<p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
		</footer>
	</body>
</html>